<h3>
    Analysis<br>
    <span class="light-text-tc small-text">Site : {{site.name}}</span><br>
    <span ng-if="q_r.device_id" class="light-text-tc small-text">Device Id : {{q_r.device_id}}</span>
</h3>
<div class="row">
    <div class="col  col-md-12">

        <div class="panel panel-danger">
            <div class="panel-heading">Site : {{site.name}}</div>
            <div class="panel-body">
                <nvd3 options="linechart.option" data="linechart.data" api="clearAPI"></nvd3>
            </div>
        </div>
    </div>
</div>
