<h3>
   <div class="pull-right">
      <button type="button" class="btn bg-purple-dark" ng-click="launch('notify')">Create Groups</button>
    </div>
   Groups
   <small>{{ 'groups.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Group_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-purple-dark">Add Site</button>
                <button type="button" class="btn bg-purple">Add User</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Group_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-purple-dark">Update Site</button>
                <button type="button" class="btn bg-purple">Update User</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Group_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-purple-dark">Delete Site</button>
                <button type="button" class="btn bg-purple">Delete User</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Group_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-purple-dark">Add Site</button>
                <button type="button" class="btn bg-purple">Add User</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Group_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-purple-dark">Update Site</button>
                <button type="button" class="btn bg-purple">Update User</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Group_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-purple-dark">Delete Site</button>
                <button type="button" class="btn bg-purple">Delete User</button>
            </div>
        </div>
    </div>
</div>