<h3><div class="pull-right">
      <button type="button" class="btn bg-success-dark">Create Sites</button>
    </div>
    Sites
    <small>{{ 'sites.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Site_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-success-dark">Add Site</button>
                <button type="button" class="btn bg-success">Add User</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Site_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-success-dark">Update Site</button>
                <button type="button" class="btn bg-success">Update User</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Site_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-success-dark">Delete Site</button>
                <button type="button" class="btn bg-success">Delete User</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Site_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-success-dark">Add Site</button>
                <button type="button" class="btn bg-success">Add User</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Site_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-success-dark">Update Site</button>
                <button type="button" class="btn bg-success">Update User</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Site_ID</div>
            <div class="panel-body">
                <p>Name</p>
                <p>Role</p>
                <p>Created Date</p>
                <p>Site_ID</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn bg-success-dark">Delete Site</button>
                <button type="button" class="btn bg-success">Delete User</button>
            </div>
        </div>
    </div>
</div>